<h1>Development</h1>
<h2>process design is key</h2>
<p>
  Working as a developer and creating a unique experience for everyone has ever been my goal to archive.<br>
  The details and a perfect workflow is what makes every page or app unique.<br><br>
  Backend, Frontend and everything else related to making a software is in my scope when it comes to development.<br>
</p>

<h2>Current Technology in Use</h2>
<!--TODO add Icons for Software -->
<p>Angular, Typescript, Firebase, Node.JS, Docker, Ubuntu, Webstorm, VSCode, MacOS, Windows, Photoshop</p>

