@import "palette";

.chat {
  position: relative;
  .chat-control {
    position: fixed;
    min-width: 35%;
    max-width: 74%;
    bottom: 0.6em;
    right: 5em;
    z-index: 3;
    .mat-expansion-panel-header {
      position: relative;
      line-height: 2;
      .chat-icon {
        position: absolute;
        top: 0.7em;
        left: 0.4em;
      }
      .chat-header {
        margin-left: 3em;
        margin-top: 0.3em;
      }
    }
    .mat-form-field {
      width: 63%;
      margin-right: 1em;
      justify-content: space-between;
    }
  }
  .chat-list {
    overflow: overlay !important;
    max-height: 40vh !important;
    margin-bottom: 0.5em;
    .message {
      font-size: 1em;
      font-style: italic;
      font-weight: 400;
    }
    .message-content {
      white-space: pre-line;
    }
  }
  .send-message-container {
    display: flex;
    form {
      width: 100%;
    }
  }
  .typing-state {
    padding: 0.5em 0;
    margin: 0;
    /* height: 2em; */
    display: block;
    //opacity: 0;
    //&.visible {
    //  opacity: 1;
    //}
  }
}

.settings {
  position: absolute;
  right: 0;
  bottom: 0;
  .status-toggle {
    height: 3.2em;
    width: 7em;
    line-height: 3.5;
  }
}

.status {
  //font-family: ArchivoBold, sans-serif;
  font-weight: 400;
  margin-left: 0.2em;
  &.online {
    color: $green;
  }
  &.offline {
    color: $red;
  }
}

@media only screen and (max-width: 600px) {
  .chat {
    .chat-control {
      right: 1em;
    }
  }
}
