<div class="chat" *ngIf="authService.LastAuthChanges.loggedIn">
  <mat-expansion-panel
    class="chat-control"
    #chatControl
    (opened)="chatOpened()"
    (click)="state.chatVisible = true"
    [expanded]="state.chatVisible"
    (closed)="closeChat()"
    hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="chat-header">Chat</span>
      </mat-panel-title>
      <mat-panel-description>
        <span>Chatbot 1
         <button id="help-button" mat-icon-button
                 [disabled]="!state.chatVisible" (click)="showHelp($event)">
           <mat-icon>help</mat-icon>
         </button>
        </span>
      </mat-panel-description>
      <mat-icon
        class="chat-icon"
        matBadge="{{state.unreadMessages}}"
        matBadgePosition="above after">question_answer
      </mat-icon>
    </mat-expansion-panel-header>
    <mat-list class="chat-list">
      <mat-list-item *ngFor="let message of state.messages"
                     class="chat-list-item"
                     matTooltip="Sent on {{message.timestamp | date: 'dd.MM.yyyy'}} at {{message.timestamp | date: 'HH:mm'}}h">
        <img matListAvatar [src]="message.avatar" alt="Avatar">
        <h3 matLine> {{message.sender}}
          <span class="status online">online</span>
          <!--<span class="status offline" *ngIf="state.chatOpen === false">offline</span>-->
          <span> @ {{message.timestamp | date : 'HH:mm'}} </span>
        </h3>
        <p matLine>
          <span class="message-content">{{message.content}}</span>
        </p>
      </mat-list-item>
    </mat-list>
    <span class="typing-state" *ngFor="let user of state.typing">{{user}} is typing...</span>
    <div class="send-message-container">
      <form #chatForm="ngForm"
            id="chatForm"
            (submit)="sendMessage(state.user.message.content, chatForm.valid)">
        <mat-form-field>
          <input
            #message
            id="message"
            name="message"
            required
            matInput
            placeholder="Send Message..."
            class="chat-input"
            [(ngModel)]="state.user.message.content">
        </mat-form-field>
        <button mat-raised-button class="send-btn">Send</button>
      </form>
    </div>
  </mat-expansion-panel>
</div>

