<mat-sidenav-container
  [ngClass]="{'closed' : !state.showSettings}"
  class="side-nav-container"
  (backdropClick)="close()">
  <mat-sidenav #sideNav
               id="sideNav"
               (closedStart)="close()"
               (keydown.escape)="close()"
               disableClose>
    <div class="nav-content" *ngIf="state.user">
      <button mat-button (click)="logout()">logout</button>
      <h2>Settings</h2>
      <form #userSettingsForm="ngForm" (onsubmit)="save()">
        <h3>App</h3>
        <div class="setting">
          <mat-form-field>
            <mat-select
              name="theme"
              #theme
              [(ngModel)]="state.user.settings.theme"
              placeholder="Theme">
              <mat-option value="sundown">sundown</mat-option>
              <mat-option value="default">default</mat-option>
              <mat-option value="low-bandwidth">Low Bandwidth</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="setting">
          <mat-slide-toggle
            ngDefaultControl
            name="scrollNavigation"
            #scrollNavigation
            class="slider status-toggle"
            [(ngModel)]="state.user.settings.scrollNavigation">
            <span class="status"
                  [ngClass]="{'online':state.user.settings.scrollNavigation, 'offline': !state.user.settings.scrollNavigation}">
            {{state.scrollText[state.user.settings.scrollNavigation]}}
            </span>
          </mat-slide-toggle>
        </div>
        <h3>Chat</h3>
        <div class="setting">
          <mat-form-field>
            <mat-select
              name="language"
              #language
              [(ngModel)]="state.user.settings.language"
              placeholder="User language">
              <mat-option value="en-US">english</mat-option>
              <mat-option value="de-DE">german</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="setting">
          <mat-slide-toggle
            ngDefaultControl
            name="isChatVisible"
            #isChatVisible
            class="slider status-toggle"
            (change)="onChatVisibilityChanged(state.user.settings.isChatVisible)"
            [(ngModel)]="state.user.settings.isChatVisible">
            <span class="status"
                  [ngClass]="{'online':state.user.settings.isChatVisible, 'offline': !state.user.settings.isChatVisible}">
            {{state.visibleText[state.user.settings.isChatVisible]}}
            </span>
          </mat-slide-toggle>
        </div>
        <div class="setting">
          <mat-slide-toggle
            ngDefaultControl
            name="isChatOnline"
            class="slider status-toggle"
            #isChatOnline
            [disabled]="!state.user.settings.isChatVisible"
            [(ngModel)]="state.user.settings.isChatOnline">
          <span class="status"
                [ngClass]="{'online':state.user.settings.isChatOnline, 'offline': !state.user.settings.isChatOnline}">
            {{state.statusText[state.user.settings.isChatOnline]}}
          </span>
            <!--<span class="status offline" *ngIf="state.user.settings.isChatOnline === false">offline</span>-->
          </mat-slide-toggle>
        </div>

        <h3>General</h3>
        <mat-slide-toggle
          ngDefaultControl
          class="slider status-toggle"
          #isChatOnline
          name="showErrors"
          [(ngModel)]="state.user.settings.showErrors">
        <span class="status"
              [ngClass]="{'online':state.user.settings.showErrors, 'offline': !state.user.settings.showErrors}">
         {{state.errorText[state.user.settings.showErrors]}}
        </span>
        </mat-slide-toggle>
        <div class="button-row">
          <button mat-raised-button type="submit">Save & Apply</button>
          <button mat-raised-button type="button" color="primary" (click)="close()">Save & Close</button>
        </div>
      </form>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-icon>gears</mat-icon>
    <!--<button mat-button (click)="sideNav.open()">Open</button>-->
  </mat-sidenav-content>
</mat-sidenav-container>
<button mat-mini-fab (click)="openSettings()" class="settings-button">
  <mat-icon>settings</mat-icon>
</button>

