@import "palette";
.settings-button {
  position: absolute;
  bottom: 0.75em;
  left: 1em;
  z-index:4;
  opacity: 0.6;
  min-width: 50px;
}
.side-nav-container  {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  &.closed {
    z-index: -999999;
    opacity: 0;
    pointer-events: none;
  }
  .nav-content {
    padding: 2em;
    h2 {
      margin-bottom: 2em;
    }
    .button-row {
      margin-top: 1em;
    }
  }
  .status {
    transition: color 0.5s;
    &.online {
      color: $green;
    }
    &.offline {
      color: $red;
    }
  }
}
.mat-drawer-container {
  background-color: transparent;
}
