<!--<i class="toggle-icon" [inlineSVG]="'/assets/images/icons/hamburger.svg'"></i>-->
<div class="footer">
  <app-social-icons (playerChanged)="setCurrentPlayer($event)"></app-social-icons>
  <mat-slide-toggle class="player-toggle" *ngIf="currentPlayer !== 'none'" (change)="setCurrentPlayer('none')">Hide
  </mat-slide-toggle>
</div>
<div class="player-container"
     *ngIf="currentPlayer === 'mixcloud'">
  <iframe class="player-iframe" width="100%" height="60"
          src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&light=1&feed=%2Fdiox_dj%2F"
          frameborder="0"></iframe>
</div>
<div class="player-container soundcloud"
     *ngIf="currentPlayer === 'soundcloud'">
  <iframe width="100%" height="300"
          scrolling="no" frameborder="no"
          allow="autoplay"
          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/6380736&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
</div>
