@import "base";


.footer {
  width: 100%;
  position: relative;
  .player-toggle {
    position: absolute;
    bottom: 4.5em;
    right: 1em;
  }
}
.player-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  &.soundcloud {
    bottom: -14.5em;
  }
}
