@import "../../../styles/base";

.social-container {
  position: fixed;
  left: 2em;
  bottom: 0;
  z-index: 1000;
  margin-right: 10px;
  margin-bottom: 10px;
  .social-list {
    transform-origin: 0;
    transform: translateY(500px);
    opacity: 0;
    transition: all 0.2s ease-in;
  }
  .social-list-active {
    position: inherit;
    width: auto;
    opacity: 1;
    transform: translate(-3px, -338px);
    transition: all 0.2s linear;
  }
  .social-toggle {
    width: 50px;
    height: 50px;
    background-size: contain;
    background: no-repeat center center;
  }
  .social-icon {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    opacity: 0.8;
    background-size: contain;
    text-align: center;
    border-radius: 12px;
    background: $blue no-repeat center center;
    line-height: 4.4;
    -webkit-box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.75);
    svg {
      vertical-align: center;
      margin: auto;
      width: 40px;
      height: 40px;
    }
  }
  .social-icon:hover {
    background: $orange;
    -webkit-box-shadow: 4px 4px 5px 0 rgba(255, 255, 255, 1);
    -moz-box-shadow: 4px 4px 5px 0 rgba(255, 255, 255, 1);
    box-shadow: 4px 4px 5px 0 rgba(255, 255, 255, 1);
    // transform: translate(10px, 10px);
    svg {
      path {
        fill: $bright !important;
      }
    }
  }
  svg:hover {
    fill: white;
  }
}
