@import "palette";

.social-container {
  position: fixed;
  z-index: 2;
  pointer-events: none;
  left: 1.5em;
  &.bottom {
    bottom: 0;
  }
  margin-right: 10px;
  margin-bottom: 10px;
  &.with-player {
    bottom: 65px;
  }
  .social-list {
    transform-origin: 0;
    transform: translateY(500px);
    opacity: 0;
    transition: all 0.2s ease-in;
  }
  .social-list-active {
    position: inherit;
    pointer-events: all;
    width: auto;
    opacity: 1;
    transform: translate(-3px, -338px);
    transition: all 0.2s linear;
  }
  .social-toggle {
    width: 50px;
    height: 50px;
    pointer-events: all;
    z-index: 3;
    background-size: contain;
    background: no-repeat center center;
  }
  .social-icon {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    opacity: 0.8;
    position: relative;
    background-size: contain;
    text-align: center;
    border-radius: 12px;
    transition: background-color 500ms linear;
    background: $blue no-repeat center center;
    line-height: 4.4;
    -webkit-box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.75);
    .play-icon {
      position: absolute;
      left: 0.5em;
      top: 0.5em;
      transition: opacity 2s;
      cursor: pointer;
      opacity: 0;
    }
    .link-icon {
      display: block;
      cursor: pointer;
    }
    svg {
      vertical-align: center;
      margin: auto;
      width: 40px;
      height: 40px;
    }
  }
  .social-icon:hover {
    background: $orange;
    -webkit-box-shadow: 4px 4px 5px 0 rgba(255, 255, 255, 1);
    -moz-box-shadow: 4px 4px 5px 0 rgba(255, 255, 255, 1);
    box-shadow: 4px 4px 5px 0 rgba(255, 255, 255, 1);
  }
  .has-player:hover {
    .play-icon {
      //transition: all 4s ease-out;
      animation: 0.5s show both;
      animation-delay: 1s;
    }
    .link-icon {
      //transition: all 4s linear;
      animation: 100ms hide both;
      animation-delay: 1s;
    }
    svg {
      path {
        fill: $bright !important;
      }
    }
  }
  svg:hover {
    fill: white;
  }
  &.top {
    top: 2em;
    .social-list {
      top: 26.5em;
    }
  }
}

@keyframes hide {
  0% {
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes show {
  0% {
    pointer-events: none;
  }
  100% {
    opacity: 1;
    pointer-events: all;
  }
}
