<div class="social-container" [ngClass]="position">

  <div id="socialToggleTop"
       *ngIf="position === 'top'"
       class="social-toggle "
       [ngClass]="{active: socialVisible} "
       (click)="showSocialIcons($event)"
       [inlineSVG]="'assets/images/icons/earth.svg'">
  </div>
  <div class="social-list" id="socialList"
       [ngClass]="{'social-list-active': socialVisible}">
    <div *ngFor="let icon of visibleSocialIcons" id="{{icon.name}}"
         class="social-icon" [ngClass]="{'has-player': icon.hasPlayer,
         'show-play-icon': icon.hasPlayer && activePlayIcon === icon.name}">
      <span class="toggle" *ngIf="icon.hasPlayer"
           (mouseenter)="togglePlayIcon(icon.name, true)"
           (mouseleave)="togglePlayIcon(icon.name, false)">
        <i [inlineSVG]="icon.path"
           class="link-icon" [ngClass]="icon.name"
           (click)="openSocial(icon.url)"></i>
        <mat-icon class="play-icon"
                  *ngIf="currentPlayer !== icon.name"
                  (click)="togglePlayer(icon.name, $event)">
          play_circle_filled
        </mat-icon>
        <mat-icon class="pause-icon"
                  *ngIf="currentPlayer === icon.name">
          pause_circle_outline
        </mat-icon>
      </span>
      <span class="link-container" (click)="openSocial(icon.url)">
        <i [inlineSVG]="icon.path"
           class="link-icon" [ngClass]="icon.name"></i>
      </span>
    </div>
  </div>
  <div id="socialToggleBottom"
       class="social-toggle"
       *ngIf="position === 'bottom'"
       [ngClass]="{active: socialVisible} "
       (click)="showSocialIcons($event)"
       [inlineSVG]="'assets/images/icons/earth.svg'">
  </div>
</div>
