@font-face {
  font-family: RalewayRegular;
  src: url("assets/fonts/Raleway/Raleway-Regular.ttf");
}
@font-face {
  font-family: RalewayMedium;
  src: url("assets/fonts/Raleway/Raleway-Medium.ttf");
}
@font-face {
  font-family: RalewayBold;
  src: url("assets/fonts/Raleway/Raleway-Bold.ttf");
}

