@font-face {
  font-family: RalewayRegular;
  src: url("assets/fonts/Raleway/Raleway-Regular.ttf");
}
@font-face {
  font-family: RalewayMedium;
  src: url("assets/fonts/Raleway/Raleway-Medium.ttf");
}
@font-face {
  font-family: RalewayBold;
  src: url("assets/fonts/Raleway/Raleway-Bold.ttf");
}
@font-face {
  font-family: Archivo;
  src: url("assets/fonts/Archivo/Archivo-Regular.ttf");
}
@font-face {
  font-family: ArchivoMedium;
  src: url("assets/fonts/Archivo/Archivo-Medium.ttf");
}
@font-face {
  font-family: ArchivoBold;
  src: url("assets/fonts/Archivo/Archivo-Bold.ttf");
}
