/**
 * Global color palette
 * =================================
 * - Generic colors
 * - Color scheme
 * - Common colors
 * - Links
 * - Text selection
 * - <hr>
 * - Any others..
 */

// Generic colors
$blue                         : #288ad6;
$green                        : #16c98d;
$red                          : #fa5e5b;
$yellow                       : #feef6d;
$orange                       : #fe7c08;
$pink                         : #ff708e;
$purple                       : #8e44ad;
$gray                         : #95a5a6;

$dark                         : #000;
$dark-transparent: rgba(0, 0, 0, 0.7);
$bright                       : #fff;

$color-kickoff-blue           : #181830;
$color-kickoff-orange         : #fe7c08;

// Color Scheme
$color-primary                : #181830;
$color-secondary              : $orange;
$color-highlight              : $blue;

// Common colors
$color-text                   : #444;
$color-bg: $blue;
$color-border                 : #ddd;


// Links
$color-link-default           : $color-highlight;
$color-link-visited           : $color-link-default;
$color-link-hover             : darken($color-link-default, 20%);
$color-link-active            : darken($color-link-default, 20%);

// Text Selection
$color-selection              : #fff;
$color-selection-bg           : $color-primary;


// <hr> border color
$hr-color                     : lighten(#000, 70%);

// 3rd party brand colors - find more at brandcolors.net
$color-twitter                : #55acee;
$color-facebook               : #3b5998;
$color-youtube                : #cd201f;
$color-pinterest              : #bd081c;
$color-instagram              : #e4405f;
$color-whatsapp               : #25d366;
