@import './palette';

%active-state {
  //background-color: $color-secondary;
  //border: 1px solid $bright;
  color: $bright;
  outline: none;
  opacity: 1;
}

%button-style {
  outline: none;
  text-align: center;
  cursor: pointer;
}

%default-button {
  color: $dark;
  @extend %button-style;
  border: 1px solid $dark;
  background-color: $green;
}
