@import "base";
.tab-bar {
  display: flex;
  flex-direction: row;
  //justify-content: space-between;
  width: 40%;
  .tab {
    width: 10em;
    margin: 0;
    /* height: 2em; */
    padding: 0 0.5em;
    line-height: 2em;
    @extend %default-button;
    transition: background-color 0.5s;
    opacity: 0.7;
    &.active {
      @extend %active-state;
    }
  }
  .tab:not(:last-child) {
    margin-right: 0.2em;
  }
}
