
.container,
.sea,
.sky,
.sun,
.light,
.bird,
.birdr1,
.birdr,
.sharky,
.wave {
  position: absolute;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  .sky {
    opacity: 0.8;
    width: 100%;
    height: 90%;
    top: 0;
    background: radial-gradient(at 50% 70%, #820, #610, #400, #100);
    z-index: 30;
  }
  .sea {
    width: 100%;
    height: 10%;
    top: 90%;
    background: radial-gradient(at 50% 0%, #007, #004);
    z-index: 60;
    .light {
      opacity: 0.5;
      left: 0%;
      width: 100%;
      height: 100%;
      background: radial-gradient(at 50% 0%, #ff0, transparent);
      z-index: 60;
      animation: over 12s ease forwards;
    }
  }
  .sun {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 83%;
    z-index: 40;
    background: linear-gradient(#ff0, #d00);
    box-shadow: 0 0 40px 6px #f20, 0 0 150px 10px #f33;
    animation: rise 24s ease forwards;
  }
  @keyframes rise {
    0% {
      top: 50%;
    }
    100% {
      top: 15%;
    }
  }
  @keyframes over {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.2;
    }
  }

  .bird {
    opacity: 1;
    top: 50px;
    left: 00px;
    width: 10px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-right-color: black;
    transform: rotateZ(-75deg);
    animation: move 25s linear infinite, flap 0.5s linear alternate infinite;
    z-index: 70;
  }

  @keyframes move {
    0% {
      left: 0px;
    }
    100% {
      left: 100%;
    }
  }

  .birdr {
    z-index: 70;
    opacity: 1;
    top: 50px;
    width: 10px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-left-color: black;
    transform: rotateZ(75deg);
    margin: 0px 8px;
    animation: mover 25s linear infinite, flap 0.5s linear alternate infinite;
  }

  .bird1 {
    opacity: 1;
    top: 45px;
    left: 0px;
    width: 10px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-right-color: black;
    transform: rotateZ(-90deg);
    animation: move 25s linear infinite 1.5s,
    flap 0.5s linear alternate infinite 1.5s;
    z-index: 70;
  }

  .birdr1 {
    z-index: 70;
    opacity: 1;
    top: 45px;
    width: 10px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-left-color: black;
    transform: rotateZ(90deg);
    margin: 0 8px;
    animation: mover 25s linear infinite 1.5s,
    flap 0.5s linear alternate infinite 1.5s;
  }

  @keyframes mover {
    0% {
      left: -0px;
    }
    100% {
      left: 100%;
    }
  }
  @keyframes flap {
    0% {
      border-radius: 90%;
    }
    100% {
      border-radius: 10%;
    }
  }

  .sharky {
    top: 88%;
    z-index: 100;
    cursor: pointer;
    transform-origin: 0 0;
    transform: rotateY(180deg);
    width: 50px;
    height: 50px;
    opacity: 1;
    animation: swim 30s linear infinite 5s;
    @keyframes swim {
      0% {
        opacity: 1;
        left: 100%;
      }
      100% {
        left: -25%;
      }
    }

    &.attacking {
      //background-image: url("/assets/images/icons/shark.svg");
      //animation-play-state: paused;
      transition: opacity, top ease-in 1s;
      opacity: 0;
      //top: 90%;

      .bot {
        opacity: 1;
      }
      animation: attacking 4s linear 1s;
      @keyframes attacking {
        0% {
          top: 90%;
          opacity: 0;
        }
        25% {
          opacity: 0.5;
          top: 88%;
        }
        50% {
          top: 88%;
          opacity: 1;
        }
        75% {
          top: 92%;
          opacity: 1;
        }
        100% {
          top: 99%;
          opacity: 0;
        }
      }
    }
    .icons {
      position: relative;
      svg {
        width: 100%;
        height: 100%
      }
      .dived {
        position: absolute;
        left: 0;
        top: 0;
        height: 50px;
        width: 50px;
      }
      .hide {
        display: none;
      }
      .bot,
      .shark {
        display: none;
        &.show {
          display: block;
        }
      }
    }
    .bot {
      z-index: 1;
    }
    .shark {
      position: relative;
      bottom: 20px;
      z-index: 0;
    }
    i {
      position: relative;
    }
    .shark-action {
      //opacity: 0;
      display: none;
      position: relative;
      left: 0;
      top: 10px;
      z-index: 9999;
      width: 30px;
      height: 30px;
    }
    .wave {
      margin: 26px 7px;
      border-left: 3px solid transparent;
      border-top: 6px solid rgba(50, 50, 140, 0.3);
      border-right: 50px solid transparent;
      transform: rotatez(6deg);
      z-index: 60;
      position: relative;
      top: 20px;
    }
  }
}

svg {
  width: 100%;
  height: 100%
}
