<div class="container">
  <div class="sky"></div>
  <div class="sea">
    <div class="light"></div>
  </div>
  <div class="sun"></div>
  <div class="bird1"></div>
  <div class="birdr1"></div>
  <div class="bird"></div>
  <div class="birdr"></div>
  <div id="sharky" class="sharky" [ngClass]="sharkMode"
       matTooltip="Shark Action!"
       [matTooltipDisabled]="sharkMode === 'attacking'"
       (click)="transformShark()">
    <div class="icons">
      <i class="fin"
         [ngClass]="{'hide' : sharkMode === 'attacking'}"
         inlineSVG="assets/images/icons/fin.svg"></i>
      <i class="bot" inlineSVG="assets/images/icons/bot.svg"
         [ngClass]="{'show' : sharkMode === 'attacking'}"
         matTooltip="Geez! How did i get here?"></i>
      <i class="shark"
         [ngClass]="{'show' : sharkMode === 'attacking'}"
         inlineSVG="assets/images/icons/shark.svg"></i>
    </div>
    <button class="shark-action" aria-label="Show Shark Message"
            (click)="showSharkMessage()">
      Shark
    </button>
    <div class="wave"></div>
  </div>
</div>
