<h1>About me</h1>
<h2>It's all about creativity</h2>
<p>I love making music since i was a little child, and also everything i have been surrounded by tech since that.
  Art or being creative helped a lot to gain insights of business processes or the developing a own sound.<br><br>
  Even this web page would not exist, if I would not have imagine how it could look like!
</p>
<h2>Musical Experience</h2>
<p>
  Since I was a child i wanted to play a Instrument, which I started when I was 12.
  I played flute, clarinet & saxophone. But there was still something missing.
  I started 2 years later to love electronic music, and my fascination for it did not stop since then!
  You can hear the development of it in the DJ / Sets / Music Section. I hope you like it!!
</p>
