<h1>About me</h1>
<h2>It's all about creativity</h2>
<p>I love making music since i was a little child, and also everything i have been surrounded by tech since that.<br>
  Art or being creative helped a lot to gain insights of business processes or the developing a own sound.<br>
  Even this web page would not exist, if I would not have imagine how it could look like!<br><br>
  <b>I am currently looking forward to find new exciting experiences in my work and dj life!</b>
</p>

<h2>Current Software/Technology in Use</h2>
<!--TODO add Icons for Software -->
<p>Angular, Typescript, Firebase, Node.JS, Docker, Ubuntu, Webstorm, VSCode, MacOS, Windows, Photoshop</p>
<h2>Contact / Admin</h2>
<p>
  Contact via:<br/> Name: Markus Wagner<br/> Mail: <a href="mailto:djdiox@gmail.com">djdiox@gmail.com</a><br/> Home:
  Stuttgart<br/>
  Complete CV available on request via E-Mail.
</p>
