@import "palette";
.tools-wrapper {
  clear: both;
  height: 32em;
  .tool-container {
    float: left;
    width: 13em;
    min-height: 5em;
  }
  mat-chip {
    cursor: pointer;
  }
}

.search {
  background-color: $bright;
  padding: 0.5em;
}
::ng-deep .mat-tooltip {
  white-space: pre-line !important;
}

@media only screen and (max-width: 1000px) {
  .tools-wrapper {
    height: 60em;
  }
}

