<h2>Technology as support</h2>
<p>
  Knowledge of programming is as important as the knowledge of available tools.<br>
  Open Source Frameworks made programming really great<br>
  Here an overview of Sofware which i have or had in use<br>
</p>
<div class="search">
  <mat-form-field>
    <input matInput placeholder="Search..." [(ngModel)]="searchText" (keyup)="searchTools(searchText)">
  </mat-form-field>
</div>
<p>You can click ony tool to open the website of it!</p>
<div class="tools-wrapper">
  <div class="tool-container" *ngFor="let section of currenTools">
    <h3>{{section.name}}</h3>
    <mat-chip-list>
      <mat-chip *ngFor="let tool of section.tools"
                (click)="openUrl(tool.website)"
                [matTooltip]="tool.description + '\n' + 'click to open: ' + tool.website">
        {{tool.name}}
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
