<form #loginForm="ngForm" (submit)="saveForm(user.name, user.password, loginForm.valid, $event)" class="login-form" *ngIf="user">
  <h3>You need to enter a Username to save settings</h3>
  <mat-form-field class="full-width" hintLabel="Valid and accessible Mail">
    <input #email="ngModel" id="email" name="email" required matInput matTooltip="try test@example.com with password test" placeholder="Email"
      type="email" [(ngModel)]="user.name">
    <mat-hint align="end">
      <ng-container *ngIf="email.valid">
        E-Mail is valid.
      </ng-container>
      <ng-container *ngIf="email.invalid">
        E-Mail is not valid.
      </ng-container>
    </mat-hint>
  </mat-form-field>
  <mat-form-field class="full-width" hintLabel="Min. 4 characters">
    <input #password name="password" matTooltip="The password for your account." type="password" required matInput placeholder="Password"
      minlength="4" [(ngModel)]="user.password">
    <mat-hint align="end">{{password.value?.length || 0}}/4</mat-hint>
  </mat-form-field>
  <div class="login-buttons">
    <button class="google-button" mat-button color="primary" type="button" aria-label="Google Login" (click)="openGoogleLogin()">
      <img class="normal" src="assets/images/other/oauth/btn_google_signin_dark_normal_web.png" alt="Google Login button normal image" />
      <img class="focus" src="assets/images/other/oauth/btn_google_signin_dark_focus_web.png" alt="Google Login button focused image" />
      <img class="pressed" src="assets/images/other/oauth/btn_google_signin_dark_pressed_web.png" alt="Google Login button pressed image" />
    </button>
    <button mat-stroked-button type="submit">Login</button>
  </div>
</form>