.full-width{
  width:100%;
}
.login-form {
  .login-buttons {
    display: flex;
    width: 100%;
    height: 75px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    button {
      //display:inline-flex;
      height: 42px;
    }
    .google-button {
      margin-right: 5px;
      height: 46px;
      padding:0;
      .focus {
        display:none;
      }
      .pressed {
        display:none;
      }
      .mat-button-wrapper {
        height: 100%;
        width: 100%;
        display: contents;
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
    .google-button:focus {
      .normal {
        display:none;
      }
      .focus {
        display:block;
      }
      .pressed {
        display:none;
      }
    }
  }
}
