@import "../styles/palette";

.module-wrapper {
  height: 100vh;
  background: $color-kickoff-blue;
  color: white;
  padding: 2em;
  .container {
    height: 89%;
    border-radius: 0.3em;
    padding: 4em;
    background: $dark;
  }
}
