<app-background *ngIf="state.theme === 'sundown'"></app-background>
<div id="app" class="module-wrapper" [ngClass]="{'no-navigation': !state.showNav}">
  <div class="container"
       [@routerTransition]="getState(o)">
    <router-outlet #o="outlet"></router-outlet>
  </div>
</div>
<app-navigation (fullScreenNavToggled)="fullScreenNavToggled($event)"
                (navToggled)="navToggled($event)"></app-navigation>
<app-chat></app-chat>
<app-footer [fullScreenNavShown]="state.isFullScreenNavShown"></app-footer>
<app-settings></app-settings>
<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
<app-loader *ngIf="state.loading === true"></app-loader>
