@import "../styles/palette";

.module-wrapper {
  //height: 100vh;
  // background: $color-kickoff-blue;

  height: 100%;
  color: white;
  padding: 2em;
  transition: all ease 1s;
  .container {
    //background: url("../assets/images/embedded/module-bg.png") no-repeat center;
    background-color: transparentize($blue, 0.6);

    padding: 3.7em 5em;
    background-size: cover;
    //background-position: center;
    transition: all 0.5s;
    min-height: 80vh;
    border-radius: 0.3em;
    //background: $dark-transparent;
  }
}

.no-navigation {
  .module-wrapper {
    .container {
      padding: 3.7em 1.0em;
    }
  }
}
