@import "../styles/palette";

.module-wrapper {
  height: 100vh;
  // background: $color-kickoff-blue;
  background-image: url("../assets/images/embedded/background.png");
  color: white;
  padding: 2em;
  transition: all ease 1s;
  .container {
    height: 78%;
    border-radius: 0.3em;
    padding: 3.7em;
    background: $dark-transparent;
  }
}

.no-navigation {
  .module-wrapper {
    .container {
      padding: 3.7em 1.0em;
    }
  }
}
