@import "palette";

.module-wrapper {
  //height: 100vh;
  //background: transparentize($color-kickoff-blue, 0.3);
  //background: radial-gradient(at 50% 0%, rgba(0, 0, 119, 0.5), rgba(0, 0, 68, 0.5));
  position: absolute;
  left: 10%;
  top: 8%;
  width: 70%;
  z-index: 1;
  overflow: overlay;
  height: 80%;
  color: white;
  /* padding: 2em; */
  transition: all ease 1s;
  &.no-navigation {
    .container {
      padding: 3.7em 1.0em;
    }
  }
  .container {
    padding: 0 1em 3em 3em;
    //max-width: 86%;
    background-size: cover;
    transition: all 0.5s;
    border-radius: 0.3em;
  }
}

.no-navigation {

}

@media only screen and (max-width: 600px) {
  .module-wrapper {
    width: 95%;
    height: 68%;
    left: 2.5%;
    overflow-x:hidden;
    top: 15%;
    padding-bottom: 2em;
    .container {
      padding: 1em 2em;
    }
  }
}
