<app-tab-bar [current]="selected"
             (selected)="tabChanged($event)"
             [tabs]="['sets', 'biography']"
></app-tab-bar>
<div *ngIf="selected === 'biography'">
  <h1>DJing and Producing</h1>
  <h2>Genres</h2>
  <p>
    Electronic music has always be my beloved treasure.<br>
    But i love every genre over rock and Hip Hop to Goa and Trap<br>
  </p>
  <h2>Musical Experience</h2>
  <p>
    Since I was a child i wanted to play a Instrument, which I started when I was 12.
    I played flute, clarinet & saxophone. But there was still something missing.
    I started 2 years later to love electronic music, and my fascination for it did not stop since then!
    You can hear the development of it in the DJ / Sets / Music Section. I hope you like it!!
  </p>
</div>
<div *ngIf="selected === 'sets'">
  <iframe width="100%" height="180"
          src="https://www.mixcloud.com/widget/iframe/?feed=https%3A%2F%2Fwww.mixcloud.com%2Fdiox_dj%2F&hide_cover=1&light=1"
          frameborder="0"></iframe>
  <iframe width="100%"
          height="450"
          scrolling="no"
          frameborder="no"
          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/6380736&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
</div>
