<app-tab-bar [current]="selected" (selected)="tabChanged($event)" [tabs]="['sets', 'biography']"></app-tab-bar>
<div *ngIf="selected === 'biography'">
  <h1>DJing and Producing</h1>
  <h2>Genres</h2>
  <p>
    Electronic music has always be my beloved treasure.<br>
    But i love every genre over rock and Hip Hop to Goa and Trap<br>
  </p>
  <h2>Musical Experience</h2>
  <p>
    Since I was a child i wanted to play a Instrument, which I started when I was 12.
    I played flute, clarinet & saxophone. But there was still something missing.
    I started 2 years later to love electronic music, and my fascination for it did not stop since then!
    You can hear the development of it in the DJ / Sets / Music Section. I hope you like it!!
  </p>
</div>
<div *ngIf="selected === 'sets'">

</div>
