<h1>diox</h1>
<p>
    Follow along!
</p>
<p>
  Here will be my published profile and everything which is linked to it!<br>
  Music, Dev & Gaming.. And many more.<br>
  <br>
  This page is currently in Beta and will be published over
  <a target="_blank" href="http://www.github.com/cdjdiox">
    <img src="assets/images/other/Octocat.png" alt="GitHub Logo" width="30" height="30"/>
    Github
  </a>.
</p>
<h2>Blog and more Updates will follow soon</h2>
<p>
 Once i have made a server available i will host more than just this homepage!
</p>
<iframe width="200" height="250" title="mixcloud" src="https://www.mixcloud.com/widget/follow/?u=%2Fdiox_dj%2F"
        frameborder="0"></iframe>
