@import "palette";
ul.breadcrumbs {
  li {
    display: block;
    width: 2em;
  }
}

ul {
  li {
    width: 46%;
  }
}

.component {
  padding: 1em;
  min-height: 14em;
  background-color: $dark-transparent;
}
