<h1>Interactive CV!</h1>

<mat-chip-list>
  <mat-chip
    *ngFor="let breadcrumb of state?.breadcrumbs;let idx = index"
    (click)="switchTo(idx)"
    matTooltip="Show the page"
    color="primary"
    [selected]="state?.view === breadcrumb"
    [class.active]="state?.view === breadcrumb">
    {{breadcrumb}}
  </mat-chip>
</mat-chip-list>
<div class="pagination">
  <button mat-button (click)="previousPage()">back</button>
  <button mat-button (click)="nextPage()">next</button>
</div>
<mat-progress-bar mode="determinate" [value]="state?.progress"></mat-progress-bar>
<div class="component" [ngClass]="state?.view">
  <app-cv-start *ngIf="state?.view === 'start'"></app-cv-start>
  <button mat-button (click)="nextPage()" *ngIf="state?.view === 'start'">Let's Go!</button>
  <app-cv-school *ngIf="state?.view === 'school'"></app-cv-school>
  <button mat-button (click)="nextPage()" *ngIf="state?.view === 'school'">More yet to come :)</button>
  <app-cv-experience *ngIf="state?.view === 'experience'"></app-cv-experience>
  <app-cv-technology *ngIf="state?.view === 'technology'"></app-cv-technology>
  <app-cv-programming *ngIf="state?.view === 'programming'"></app-cv-programming>
  <app-cv-goals *ngIf="state?.view === 'goals'"></app-cv-goals>
  <app-cv-end *ngIf="state?.view === 'end'"></app-cv-end>
</div>
<!--<mat-progress-bar mode="determinate" [value]="state.progress"></mat-progress-bar>-->
<div class="pagination">
  <button mat-button (click)="previousPage()">back</button>
  <button mat-button (click)="nextPage()">next</button>
</div>
<!--<pre>{{state | json}}</pre>-->
