<h1>Interactive CV!</h1>

<mat-chip-list>
  <mat-chip
    *ngFor="let breadcrumb of state.breadcrumbs;let idx = index"
    (click)="switchTo(idx)"
    matTooltip="Show the page"
    [class.active]="state.view === breadcrumb">
    {{breadcrumb}}
  </mat-chip>
</mat-chip-list>
<button mat-button (click)="previousPage()">back</button>
<button mat-button (click)="nextPage()">next</button>
<div class="component start" *ngIf="state.view === 'start'">
  <h2>More than just a pdf.</h2>
  <p>
    Welcome to the interactive CV of myself.<br>
    I am Markus Wagner and I am glad to have you hear on my page!<br>
    The idea behind this to make this a little more fun!
  </p>
  <button mat-button (click)="switchTo(1)">Let's Go!</button>
</div>
<div class="component school" *ngIf="state.view === 'school'">
  <h2>Knowledge is key</h2>
  <p>
    I noticed already in the middle school (2006-2012) that electronic devices and software is mine and our future!<br>
    The love of creating something new has always been a part of me.<br>
  </p>
  <h3>Educational career</h3>
  <mat-card>
    <mat-list>
      <mat-list-item *ngFor="let school of state.data.schools" [matTooltip]="school.tooltip">
        <mat-icon matListIcon>school</mat-icon>
        <h3 matLine>{{school.name}}</h3>
        <p matLine>
          <span>{{school.type}}</span><br>
          <span>{{school.duration}}</span>
        </p>
      </mat-list-item>
    </mat-list>
  </mat-card>
  <!--<ul>-->
  <!--<li matTooltip="elementary school">2000 - 2006 Silcherschule Kornwestheim</li>-->
  <!--<li matTooltip="middle school">2006 - 2012 Realschule Remseck</li>-->
  <!--<li matTooltip="alongside apprenticeship">2012 - 2015</li>-->
  <!--</ul>-->
  <h3>Practical experience is the best</h3>
  <p>
    Soon i will find out that practical experience is the most important one!<br>
    On the next page there will be more informations about it.
  </p>
  <button mat-button (click)="nextPage()">More yet to come :)</button>
</div>
<div class="component experience" *ngIf="state.view === 'experience'">
  <div class="timeline">
    <div class="container"
         *ngFor="let experience of state.data.experiences;let idx = $index"
         [ngClass]="experience.position">
      <div class="content">
        <h2>{{experience.startDate}} - {{experience.endDate}}</h2>
        <h3>{{experience.headline}}</h3>
        <p>{{experience.content}}</p>
      </div>
    </div>
  </div>
</div>
<mat-progress-bar mode="determinate" [value]="state.progress"></mat-progress-bar>
<pre>{{state | json}}</pre>
