<h1>Interactive CV!</h1>

<mat-chip-list>
  <mat-chip
    *ngFor="let breadcrumb of state.breadcrumbs;let idx = index"
    (click)="switchTo(idx)"
    matTooltip="Show the page"
    [class.active]="state.view === breadcrumb">
    {{breadcrumb}}
  </mat-chip>
</mat-chip-list>
<button mat-button (click)="previousPage()">back</button>
<button mat-button (click)="nextPage()">next</button>
<mat-progress-bar mode="determinate" [value]="state.progress"></mat-progress-bar>
<div class="component start" *ngIf="state.view === 'start'">
  <h2>More than just a pdf.</h2>
  <p>
    Welcome to the interactive CV of myself.<br>
    I am Markus Wagner and I am glad to have you hear on my page!<br>
    The idea behind this to make this a little more fun!
  </p>
  <button mat-button (click)="switchTo(1)">Let's Go!</button>
</div>
<div class="component school" *ngIf="state.view === 'school'">
  <h2>Knowledge is key</h2>
  <p>
    I noticed already in the middle school (2006-2012) that electronic devices and software is mine and our future!<br>
    The love of creating something new has always been a part of me.<br>
  </p>
  <h3>Educational career</h3>
  <mat-card>
    <mat-list>
      <mat-list-item *ngFor="let school of state.data.schools" [matTooltip]="school.tooltip">
        <mat-icon matListIcon>school</mat-icon>
        <h3 matLine>{{school.name}}</h3>
        <p matLine>
          <span>{{school.type}}</span><br>
          <span>{{school.duration}}</span>
        </p>
      </mat-list-item>
    </mat-list>
  </mat-card>
  <h3>Practical experience is the best</h3>
  <p>
    Soon i will find out in that time that practical experience is the most important one!<br>
    On the next page there will be more informations about it.
  </p>
  <button mat-button (click)="nextPage()">More yet to come :)</button>
</div>
<div class="component experience" *ngIf="state.view === 'experience'">
  <div class="timeline">
    <div class="container"
         *ngFor="let experience of state.data.experiences;let idx = $index"
         [ngClass]="experience.position">
      <div class="content">
        <h2>{{experience.startDate}} - {{experience.endDate}}</h2>
        <h3>{{experience.headline}}</h3>
        <p>{{experience.content}}</p>
      </div>
    </div>
  </div>
</div>
<div class="component technology" *ngIf="state.view === 'technology'">
  <h2>Technology as support</h2>
  <p>
    Knowledge of programming is as important as the knowledge of available tools.<br>
    Open Source Frameworks made programming really great<br>
    Here an overview of Sofware which i have or had in use<br>
  </p>
  <h3>tools</h3>
  <mat-chip-list>
    <mat-chip *ngFor="let tool of state.data.technology.tools">
      {{tool}}
    </mat-chip>
  </mat-chip-list>
</div>
<div class="component programming" *ngIf="state.view === 'programming'">
  <h2>programming</h2>
  <p>
    There is a use case for any language!<br>
    I learned a lot of different languages, that is one reason for it!<br>
    Splitting applications in order to create microservices, has a lot of positive aspects!<br>
    I try always to achieve a MultiOS Level for my apps!<br>
    For a best solution, the toolkit must be big! I'm always open for new things!
  </p>
  <h3>languages</h3>
  <mat-chip-list>
    <mat-chip *ngFor="let lang of state.data.programming.languages">
      {{lang}}
    </mat-chip>
  </mat-chip-list>
  <h3>technics</h3>
  <p>
    These technics and other help to plan and and support the development process.
  </p>
  <mat-chip-list>
    <mat-chip *ngFor="let technic of state.data.programming.technics">
      {{technic}}
    </mat-chip>
  </mat-chip-list>
</div>
<div class="component goals" *ngIf="state.view === 'goals'">
  <h2>goals / future</h2>
  <p>
    In near future i want to progress more in architecture and business development<br>
    Since the learning in coding never ends, i also want to archieve a greater understanding of all the technology!<br>
    The ultimate goal would be to work at a TOP 5 Company :).<br>
    Until I reached this goal, i wanna learn as much as i can!
  </p>
</div>
<div class="component end" *ngIf="state.view === 'end'">
  <h2>Thanks for taking this journey through my Profile!</h2>
  <p>
    Through the breadcrumbs it is possible to go back to every single page!<br>
    Enjoy the rest of the page as well!
  </p>
</div>
<mat-progress-bar mode="determinate" [value]="state.progress"></mat-progress-bar>
<button mat-button (click)="previousPage()">back</button>
<button mat-button (click)="nextPage()">next</button>
<pre>{{state | json}}</pre>
