.gallery-container {
  margin-left: 2%
  //display: flex;
  //width: 80%;
  //height: 100%;
  //flex-wrap: wrap;
  //.gallery-item {
  //  width: 40%;
  //  height: 20%;
  //  display: flex;
  //  justify-content: space-between;
  //  margin: 0.7em;
  //  img {
  //    object-fit: contain;
  //  }
  //}
  //&.loaded {
  //  opacity: 0;
  //  pointer-events: none;
  //}
}
