<h1 mat-dialog-title>Chatbot Guide</h1>
<div mat-dialog-content class="chat-help-dialog">
  <h1>Available Commands</h1>
  <mat-list>
    <mat-list-item>
      <h4 matLine>Open Settings</h4>
      <p class="description" matLine>Opens the settings panel on the left hand side for user settings. (e.g. open settings)</p>
      <button [mat-dialog-close]="'Open Settings'" cdkFocusInitial mat-raised-button="primary">Try it!</button>
    </mat-list-item>
    <mat-list-item>
      <h4 matLine>Close Chat</h4>
      <p class="description" matLine>Closes the current Chat and minimizes it to the bottom. (e.g close chat)</p>
      <button [mat-dialog-close]="'Close the chat'" mat-raised-button="primary">Try it!</button>
    </mat-list-item>
    <mat-list-item>
      <h4 matLine>Logout</h4>
      <p class="description" matLine>Logs the user off the page. (e.g. "log me out of this app")</p>
      <button [mat-dialog-close]="'log me out of this app'" mat-raised-button="primary">Try it!</button>
    </mat-list-item>
    <mat-list-item>
      <h4 matLine>Version</h4>
      <p class="description" matLine>Prints out the current version of the app as Toast (e.g. "show version")</p>
      <button [mat-dialog-close]="'show version'" mat-raised-button="primary">Try it!</button>
    </mat-list-item>
    <mat-list-item>
      <h4 matLine>Clear History</h4>
      <p class="description" matLine>Clears the history of the chat (e.g. "clear history")</p>
      <button [mat-dialog-close]="'clear history'" mat-raised-button="primary">Try it!</button>
    </mat-list-item>
  </mat-list>
</div>
<div mat-dialog-actions>
  <button style="float:right;clear: both;" mat-button (click)="onNoClick()">No Thanks</button>
</div>
