/* You can add global styles to this file, and also import other style files */

@import "./styles/_base.scss";


html {
  background: $color-bg;
  font-family: RalewayRegular, SansSerif, sans-serif;
  a:any-link,
  a:-webkit-any-link {
    color: $blue;
  }
}
