/* You can add global styles to this file, and also import other style files */
@import "./styles/_base.scss";
@import "./styles/fonts";
@import '~@ngx-gallery/core/styles/scss/gallery';


html {
  height: 100vh;
  background: $color-bg;
  font-family: Archivo, SansSerif, sans-serif;
  body {
    height: 100%;
    width: 100%;
    background: url("assets/images/gfx/background.png") no-repeat;
    background-size: cover;
    margin: 0;
    a:any-link,
    a:-webkit-any-link {
      color: $purple;
    }

    p {
      text-align: justify;
      width: 80%
    }
  }
}

@media only screen and (max-width: 600px) {
  height: 100%;
  html {
    body {
      p {
        width: 100%;
      }
    }
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
