<i class="hamburger icon mobile"
   [ngClass]="{'active': showFullscreenNav}"
   [inlineSVG]="'/assets/images/icons/hamburger.svg'"
   (click)="toggleMobileNav()"></i>
<ul class="nav"
    ole="navigation"
    [ngClass]="{'hidden': !showNav}">
  <li *ngFor="let route of routes; let idx = index"
      ngClass="{'active': }"
      [routerLink]="route"
      tabindex="{{idx}}"
      routerLinkActive="active">
    {{route}}
  </li>
</ul>
<div class="full-screen" *ngIf="showFullscreenNav">
  <ul class="full-screen-nav" role="navigation">
    <li *ngFor="let route of routes; let idx = index"
        [routerLink]="route"
        tabindex="{{idx}}"
        routerLinkActive="active"
        (click)="toggleMobileNav()">
      {{route}}
    </li>
  </ul>
</div>
