ul.nav {
  position: fixed;
  right: -3em;
  top: 12%;
  li {
    height: 3em;
    list-style: none;
    background: yellow;
    margin: 0;
    line-height: 3em;
    padding: 1em;
    margin-top: 1em;
    text-align: center;
    border-radius: 0.7em;
    cursor: pointer;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
