@import 'base';

i.hamburger {
  z-index: 100;
  //width: 50px;
  //height: 50px;
  position: fixed;
  right: 3.5em;
  top: 3em;
  svg {
    width: 2em;
    height: 2em;
    path {
      -webkit-transition: fill 1s; /* Safari */
      transition: fill 1s;
    }
  }
  &.active {
    svg {
      path {
        fill: $blue;
      }
    }
  }
}

ul.nav {
  position: fixed;
  z-index: 100;
  right: -2.5em;
  top: 12%;
  width: 92px;
  height: 30em;
  display: flex;
  flex-wrap: wrap;
  -webkit-transition: opacity 1s; /* Safari */
  transition: opacity 1s;
  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
  li {
    height: 0.7em;
    z-index: 100;
    width: 80%;
    list-style: none;
    @extend %button-style;
    line-height: 0.7em;
    padding: 1em;
    //font-family: RalewayBold, sans-serif;
    -webkit-transform-origin: left top 0;
    transform-origin: left top 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    transition: background-color, opacity, color 1.5s;
    opacity: 0.5;
    background-color: $bright;
    &.active {
      opacity: 0.8;
      @extend %active-state;
      background-color: $blue;
    }
  }
}

.full-screen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  //background-color: $blue;
  background: url(/assets/images/gfx/background.png) no-repeat;
  background-size: cover;
  z-index: 100;
  ul.full-screen-nav {
    display: block;
    list-style: none;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    margin: 0;
    font-size: 3em;
    li {
      outline: none;
      &.active {
        @extend %active-state;
      }
    }
    li:not(:last-child) {
      margin-bottom: 0.2em;
    }
  }
}

/*
 + Mobile
 */
.mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .nav {
    display: none !important;
  }
}
